extends layout 


block main-content 
  -
    //You can overwrite the main-content block by writing block content
    //in the template file which is extending.
    //img(src=movie.image)
    //a(href=`${movie.image}`) #{movie.title} (#{movie.id})
  h2#site-name
    a(href='/') Change ingredients  
  h1.page-title Hello! Here's a list of recommended recipes
  ul 
    each recipe in recipeList.results 
      li 
        img(src=recipe.image)
        a(href='/nutrition/'+ recipe.id) #{recipe.title} (#{recipe.id}) Click to view Nutrition Information
      
        
